<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs' ); %>
        <title>Aplicación con chat</title>
        <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Bienvenide <%= nombre %> <button class="btn btn-primary" onclick="location.href='/logout'">Desloguear</button></h1>
        

        <h2>Mi aplicación chat</h2>
        <h3 id="average"></h3>

        <div class="container">
            <h2>Servicio de chat</h2>
            <div>
                <form id="chat">
                    <div class="mb-3">
                        <label class="form-label">E-mail:</label>
                        <input type="email" class="form-control" id="mail">
                        <label class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="name">
                        <label class="form-label">Apellido:</label>
                        <input type="text" class="form-control" id="lastname">
                        <label class="form-label">Edad:</label>
                        <input type="text" class="form-control" id="age">
                        <label class="form-label">Alias:</label>
                        <input type="text" class="form-control" id="alias">
                        <label class="form-label">Avatar (URL):</label>
                        <input type="url" class="form-control" id="avatar">
                    </div>
                    <div class="mb-3" id="savedMessage"></div>
                    <div class="mb-3">
                        <label class="form-label">Mensaje:</label>
                        <input type="text" class="form-control" id="message">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <script src="/js/index.js"></script>
</body>

</html>